<section
  class="tab sellingStuff flexcol {{tabs.sellingStuff.cssClass}}"
  action-data="tab"
  data-group="sheet"
  data-tab="sellingStuff"
>
  <div class="selling-items">
    <div class="item-group">
      <div class="selling-item-header {{#if isGM}}gm{{/if}}">
        <div class="dropdown">
          <button class="sort-btn" id="sort-btn" data-action="showSortOption">
            <span>{{localize "DB-IB.Sort"}}</span>
            <i class="fa-solid fa-sort"></i>
          </button>
          <div class="dropdown-list" id="sort-menu">
            <button data-sort="name" data-action="sort">
              <i class="fa-solid fa-font"></i>
              {{localize "DB-IB.SortByName"}}
            </button>
            <button data-sort="type" data-action="sort">
              <i class="fa-solid fa-tag"></i>
              {{localize "DB-IB.SortByType"}}
            </button>
            <button data-sort="cost" data-action="sort">
              <i class="fa-solid fa-coins"></i>
              {{localize "DB-IB.SortByCost"}}
            </button>
          </div>
        </div>
        {{#if isGM}}
        <label>{{localize "DB_IB.ChangeQuantity"}}</label>
        <div class="inputs">
        <label>{{localize "DB_IB.InfinityQuantity"}}</label>
        <label>{{localize "DB_IB.DoNotAddToBuyer"}}</label>
        </div>
        {{/if}}
        <label>{{localize "DB-IB.itemName"}}</label>
        <label>{{localize "DB-IB.itemPrice"}}</label>
        <button
          class="item-browser"
          id="{{actorID}}"
          title="{{localize 'DB-IB.openItemBrowser'}}"
          data-type="{{dataType}}"
          data-action="openBrowser"
        >
          <a class="fa-solid fa-magnifying-glass"></a>
        </button>
      </div>
      {{#itemToBuy actorID}}{{/itemToBuy}}
    </div>
  </div>
</section>